@using App.Domain
@model IEnumerable<Nsp>

@{
    ViewData["Title"] = "National Service Personnel";
}


<div class="row">
    @if (Model != null && Model.Any())
    {
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-xs-6 border-primary mb-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-header text-white bg-info">
                                <p class="card-text">
                                    <h5 class="card-title">
                                        @item.NspName
                                        <a class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
                                    </h5>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="@item.NspPicUrl" width="100" alt="@item.NspName">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p class="card-text">@item.NspBio</p>
                                <p class="card-text"><b>College: </b>@item.Colleges</p>
                                <p class="card-text"><b>Faculty: </b>@item.Faculties</p>
                                <p class="card-text"><b>Department: </b>@item.Departments</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer ">
                                <p class="card-text">
                                    <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.NspName">
                                        <i class="bi bi-eye-fill"></i> Show Details
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p> No personnel in records.</p>
    }
    </div>

